* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.page-login{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100vw;
          height: 100vh;  
            
          background: #191816;

        .camp-logo{
            position: absolute;
            top: 40px;
            left: 40px;
          }

        .box-login {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 572px;
            height: 512px;
            background: #24221f;


            form {
                display: flex;
                flex-direction: column;
                width: 334px;
                justify-content: center;

                h2 {
                    display: flex;
                    font-family: 'Poppins', sans-serif ;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color:#d4ccb6;
                    
                    

                    > img {
                        
                        margin-right: 10px;
                    }
                }
                .sub-title {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #AFB6C2;

                    margin: 8px 0 40px 0;
                }
                label {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #AFB6C2;

                    margin-bottom: 6px;

                    

                }
                .container-input {
                    position: relative;
                    margin-bottom: 6px;
                    input {
                        
                        background: transparent;
                        border: none;
                        border-radius: 4px;
                        border: 1px solid #868686;
                        outline: none;
                        height: 44px;
                        
                        width: 100%;
                        padding: 0 44px;
                        
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;

                        color: #A9AFB9;

                        &:hover {
                            
                            border: 1px solid #FFC632;
                            box-shadow: 0px 0px 0px 2px #FFDE88;
    
                            
                        }
                    }
    
                    svg {
                        position: absolute;
                        top: 12px;
                        left: 14px;
                    }
                    &:hover {
                        svg path {
                            stroke: #FFC632;
                        }
                    }
                }
                
                .check {
                    display: flex;
                    justify-content: space-between;
                    align-items:center;

                    span {
                        display: flex;
                        align-items: center;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;


                        color: #A9AFB9;

                        margin: 10px 0;


                        input {
                            background: none;
                            width: 20px;
                            height: 20px;
                        
        
                            border: 1px solid #868686;
                            border-radius: 4px;
        
                            margin: 8px 8px 8px 0;
                        }
                    }

                }
                a {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    text-decoration: none;


                    color: #FFC632;
                }

                button {
                    height: 51px;
                    

                    background: #FFC632;
                    border-radius: 4px;

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;

                    letter-spacing: 0.015em;
                    text-transform: uppercase;
                    transition: filter 0.2s;

                    color: #473404;

                    &:hover {
                        filter:brightness(0.8); 
                    }

                }

                .form-footer {
                    display: flex;
                    justify-content: center;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    margin: 10px 0;



                    color: #FFC632;

                    > a {
                        display: flex;
                        margin-left: 8px;
                    }

                }
            }


        }
    }
    aside {
        display: none;
        width: 50vw;
        height: 100vh;
        background-image: url(../assets/images/side-image-2x.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    @media(min-width: 1150px) {
        main {
            width: 50vw;
        }
        aside {
            display: block;
        }
    }
}